.md-typeset .mdx-badge {
    font-size: .85em
}

.md-typeset .mdx-badge__icon {
    color: var(--md-typeset-a-color);
    box-shadow: inset 0 0 0.0rem 0.05rem var(--md-accent-fg-color);
    padding: 0.2rem;
}

.md-typeset .mdx-badge__icon:first-child {
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

.md-typeset .mdx-badge__icon:last-child {
    border-bottom-right-radius: 0.2em;
    border-top-right-radius: 0.2rem;
}

.md-typeset .mdx-badge__text {
    color: var(--md-typeset-a-color);
    box-shadow: inset 0 0 0.0rem 1px var(--md-accent-fg-color);
    padding: 0.2rem 0.3rem;
}

.md-typeset .mdx-badge__text:first-child {
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

.md-typeset .mdx-badge__text:last-child {
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.kny-badge-bg {
    background: var(--md-accent-fg-color--transparent);
}
